<div class='card'>
    <div class='card-header'>
     {{pageTitle}}
    </div>
    
    <div class='card-body'>            
      <div class='table-responsive'>
        <table class='table'
              *ngIf = 'books && books.length'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-primary'
                (click)='toggleImage()'>
                  {{showImage? 'Hide' : 'Show'}} Image
                </button>
              </th>
              <th>Books</th>
              <th>Code</th>
              <th>Available</th>
              <th>Price</th>
              <th>5 Star Rating</th>
            </tr>
           
          </thead>
          <tbody>  
              <tr *ngFor='let product of books'>
                  <td><img *ngIf='showImage'
                    [src] = 'books.imageUrl' 
                    [title] = 'books.bookName'
                    [style.width.px] = 'imageWidth' 
                    [style.margin.px] = 'imageMargin'></td>
                  <td>{{ books.bookName }}</td>
                  <td>{{ books.bookCode }}</td>
                  <td>{{ books.releaseDate }}</td>
                  <td>{{ books.price }}</td>
                  <td>{{ books.starRating }}</td>
                  <td>
                    <button class="btn btn-warning" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="editBooks(books)" style="margin-left: 20px;"> Edit</button>
                    <button class="btn btn-danger" style="cursor:pointer" *ngIf="_auth.loggedIn()"(click)="deleteBooks(books)"> Delete</button>
                  </td>
                </tr>              
          </tbody>
        </table>
      </div>
    </div>
  </div>
  